In [3]:
# Raead data frome the file
file_name = r'/content/nyc_parking_tickets_extract-1.csv'

In [4]:
with open(file_name) as f:
    for row in range(11):
        print(next(f))

Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Violation Description

4006478550,VAD7274,VA,PAS,10/5/2016,5,4D,BMW,BUS LANE VIOLATION

4006462396,22834JK,NY,COM,9/30/2016,5,VAN,CHEVR,BUS LANE VIOLATION

4007117810,21791MG,NY,COM,4/10/2017,5,VAN,DODGE,BUS LANE VIOLATION

4006265037,FZX9232,NY,PAS,8/23/2016,5,SUBN,FORD,BUS LANE VIOLATION

4006535600,N203399C,NY,OMT,10/19/2016,5,SUBN,FORD,BUS LANE VIOLATION

4007156700,92163MG,NY,COM,4/13/2017,5,VAN,FRUEH,BUS LANE VIOLATION

4006687989,MIQ600,SC,PAS,11/21/2016,5,VN,HONDA,BUS LANE VIOLATION

4006943052,2AE3984,MD,PAS,2/1/2017,5,SW,LINCO,BUS LANE VIOLATION

4007306795,HLG4926,NY,PAS,5/30/2017,5,SUBN,TOYOT,BUS LANE VIOLATION

4007124590,T715907C,NY,OMT,4/3/2017,5,SUBN,TOYOT,BUS LANE VIOLATION

In [5]:
with open(file_name) as f:
    column_headers = next(f).strip('\n').split(',')
    sample_data = next(f).strip('\n').split(',')

In [7]:

column_headers

['Summons Number',
 'Plate ID',
 'Registration State',
 'Plate Type',
 'Issue Date',
 'Violation Code',
 'Vehicle Body Type',
 'Vehicle Make',
 'Violation Description']

In [8]:

with open(file_name) as f:
    col_names = next(f)

In [9]:
col_names

'Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Violation Description\n'

In [10]:
[col.strip(" ") for col in col_names.strip("\n").split(",")]

['Summons Number',
 'Plate ID',
 'Registration State',
 'Plate Type',
 'Issue Date',
 'Violation Code',
 'Vehicle Body Type',
 'Vehicle Make',
 'Violation Description']

In [11]:
with open(file_name) as f:
    column_names =[col.strip(" ") for col in next(f).strip("\n").split(",")]
    data = [row.strip(" ") for row in next(f).strip("\n").split(",")]

In [13]:
# data

In [14]:
list(column_names)

['Summons Number',
 'Plate ID',
 'Registration State',
 'Plate Type',
 'Issue Date',
 'Violation Code',
 'Vehicle Body Type',
 'Vehicle Make',
 'Violation Description']

In [15]:
list(zip(column_names, data))

[('Summons Number', '4006478550'),
 ('Plate ID', 'VAD7274'),
 ('Registration State', 'VA'),
 ('Plate Type', 'PAS'),
 ('Issue Date', '10/5/2016'),
 ('Violation Code', '5'),
 ('Vehicle Body Type', '4D'),
 ('Vehicle Make', 'BMW'),
 ('Violation Description', 'BUS LANE VIOLATION')]

In [17]:
def read_data():
    with open(file_name) as f:
        next(f)
        yield from f

In [18]:
raw_data = read_data()
for _ in range(5):
    print(next(raw_data))

4006478550,VAD7274,VA,PAS,10/5/2016,5,4D,BMW,BUS LANE VIOLATION

4006462396,22834JK,NY,COM,9/30/2016,5,VAN,CHEVR,BUS LANE VIOLATION

4007117810,21791MG,NY,COM,4/10/2017,5,VAN,DODGE,BUS LANE VIOLATION

4006265037,FZX9232,NY,PAS,8/23/2016,5,SUBN,FORD,BUS LANE VIOLATION

4006535600,N203399C,NY,OMT,10/19/2016,5,SUBN,FORD,BUS LANE VIOLATION

parser Column to set appropriate format

In [19]:
def parse_int(value,default=None):
    try:
        return int(value)
    except ValueError:
        return default

In [20]:
from datetime import datetime

def parse_date(value,default=None):
    date_format='%m/%d/%Y'
    try:
        return datetime.strptime(value, date_format).date()
    except ValueError:
        return default

In [21]:
def parse_string(value,default=None):
    
    try:
        clean = str(value).strip()
        if not clean:
            return default
        else:
            return clean
    except ValueError:
        return default

In [22]:
column_parsers = (parse_int,  
                  parse_string, 
                  parse_string,  
                  parse_string, 
                  parse_date,  
                  parse_int,  
                  parse_string, 
                  parse_string, 
                  parse_string 
                 )

row parser

In [23]:
def parse_row(row):
    
    fields = row.strip('\n').split(',')
    parsed_data = (func(field) 
                   for func, field in zip(column_parsers, fields))
    return parsed_data

In [24]:
rows = read_data()

for _ in range(5):
    row = next(rows)
    parsed_data = parse_row(row)
    print(list(parsed_data))

[4006478550, 'VAD7274', 'VA', 'PAS', datetime.date(2016, 10, 5), 5, '4D', 'BMW', 'BUS LANE VIOLATION']
[4006462396, '22834JK', 'NY', 'COM', datetime.date(2016, 9, 30), 5, 'VAN', 'CHEVR', 'BUS LANE VIOLATION']
[4007117810, '21791MG', 'NY', 'COM', datetime.date(2017, 4, 10), 5, 'VAN', 'DODGE', 'BUS LANE VIOLATION']
[4006265037, 'FZX9232', 'NY', 'PAS', datetime.date(2016, 8, 23), 5, 'SUBN', 'FORD', 'BUS LANE VIOLATION']
[4006535600, 'N203399C', 'NY', 'OMT', datetime.date(2016, 10, 19), 5, 'SUBN', 'FORD', 'BUS LANE VIOLATION']

create generator

In [25]:
def parse_rows_gen():
    for row in read_data():
        yield zip(column_names,parse_row(row))

In [26]:
parsed_rows = parse_rows_gen()
for i in range(5):
    print(list(next(parsed_rows)))

[('Summons Number', 4006478550), ('Plate ID', 'VAD7274'), ('Registration State', 'VA'), ('Plate Type', 'PAS'), ('Issue Date', datetime.date(2016, 10, 5)), ('Violation Code', 5), ('Vehicle Body Type', '4D'), ('Vehicle Make', 'BMW'), ('Violation Description', 'BUS LANE VIOLATION')]
[('Summons Number', 4006462396), ('Plate ID', '22834JK'), ('Registration State', 'NY'), ('Plate Type', 'COM'), ('Issue Date', datetime.date(2016, 9, 30)), ('Violation Code', 5), ('Vehicle Body Type', 'VAN'), ('Vehicle Make', 'CHEVR'), ('Violation Description', 'BUS LANE VIOLATION')]
[('Summons Number', 4007117810), ('Plate ID', '21791MG'), ('Registration State', 'NY'), ('Plate Type', 'COM'), ('Issue Date', datetime.date(2017, 4, 10)), ('Violation Code', 5), ('Vehicle Body Type', 'VAN'), ('Vehicle Make', 'DODGE'), ('Violation Description', 'BUS LANE VIOLATION')]
[('Summons Number', 4006265037), ('Plate ID', 'FZX9232'), ('Registration State', 'NY'), ('Plate Type', 'PAS'), ('Issue Date', datetime.date(2016, 8, 23)), ('Violation Code', 5), ('Vehicle Body Type', 'SUBN'), ('Vehicle Make', 'FORD'), ('Violation Description', 'BUS LANE VIOLATION')]
[('Summons Number', 4006535600), ('Plate ID', 'N203399C'), ('Registration State', 'NY'), ('Plate Type', 'OMT'), ('Issue Date', datetime.date(2016, 10, 19)), ('Violation Code', 5), ('Vehicle Body Type', 'SUBN'), ('Vehicle Make', 'FORD'), ('Violation Description', 'BUS LANE VIOLATION')]

Goal 2:

Calculating Number of Violations by Car Make

In [27]:
parsed_rows = parse_rows_gen()
for i in range(10):
    print(list(next(parsed_rows))[7])

('Vehicle Make', 'BMW')
('Vehicle Make', 'CHEVR')
('Vehicle Make', 'DODGE')
('Vehicle Make', 'FORD')
('Vehicle Make', 'FORD')
('Vehicle Make', 'FRUEH')
('Vehicle Make', 'HONDA')
('Vehicle Make', 'LINCO')
('Vehicle Make', 'TOYOT')
('Vehicle Make', 'TOYOT')

In [28]:
violations_counts= {}
for rows in parsed_rows:
    data = list(next(parsed_rows))[7]
    #print(data)
    if data[1] in violations_counts:
        #print(data[0])
        violations_counts[data[1]] += 1
    else:
        violations_counts[data[1]] = 1

In [29]:
violations_counts

{'ACURA': 7,
 'AM/T': 1,
 'AUDI': 7,
 'BMW': 15,
 'BUICK': 3,
 'CADIL': 4,
 'CHEVR': 40,
 'CHRYS': 7,
 'DODGE': 21,
 'FIR': 1,
 'FORD': 51,
 'FRUEH': 21,
 'GMC': 18,
 'HIN': 5,
 'HINO': 1,
 'HONDA': 51,
 'HYUND': 18,
 'INFIN': 6,
 'INTER': 11,
 'ISUZU': 4,
 'JAGUA': 3,
 'JEEP': 11,
 'KENWO': 3,
 'KIA': 3,
 'LEXUS': 13,
 'LINCO': 6,
 'MAZDA': 2,
 'ME/BE': 18,
 'MERCU': 3,
 'MI/F': 1,
 'MINI': 1,
 'MITSU': 4,
 'NISSA': 34,
 'NS/OT': 9,
 None: 1,
 'OLDSM': 1,
 'PETER': 1,
 'PLYMO': 1,
 'PORSC': 1,
 'ROVER': 2,
 'SAAB': 1,
 'SATUR': 2,
 'SCION': 1,
 'SMART': 2,
 'SPRI': 1,
 'STAR': 1,
 'SUBAR': 10,
 'TOYOT': 53,
 'UD': 1,
 'UPS': 1,
 'VOLKS': 4,
 'VOLVO': 6,
 'WORKH': 1,
 'YAMAH': 1}